/* Add a black background color to the top navigation */
.topnav {
  background-color: #0cca4a;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 14px 16px;
  padding-bottom: 50px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #6e8387;
  color: #fcfafa;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #c8d3d5;
  color: black;
}
